.choice-box {
    -fx-pref-width: 150;
    -fx-border-color: black;
    -fx-font-family: "Comic Sans MS";
}

.button {
    -fx-font-weight: bold;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.choice-box, .context-menu {
    -fx-pref-width: 150;
    -fx-font-family: "Comic Sans MS";
}

