.root {
    -fx-background-color: #F2DA8A;
    -fx-border-color: black;
    -fx-font-family: "SansSerif";
    -fx-padding: 10px;
}

.button {
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.sudokuBoardGrid {
    -fx-border-color: #000000;
    -fx-background-color: #F0EBD7;
    -fx-grid-lines-visible: true;
}